In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
%run imports.py

Python version: 3.6.1 |Anaconda 4.4.0 (64-bit)| (default, May 11 2017, 13:25:24) [MSC v.1900 64 bit (AMD64)]
pandas version: 0.20.1 name: pd
NumPy version: 1.12.1 name: np
SciPy version: 0.19.0 name: sp
IPython version: 5.3.0
scikit-learn version: 0.18.1
matplotlib version: 2.0.2
plotly version: 2.0.11

# Read raw data from excel file into Pandas dataframe

In [3]:
import dataset as ds

In [4]:
para_df = ds.load_dataset('data/parameters_1.csv')

In [5]:
para_df.head(2)
para_df.tail(2)

,ï»¿id,suite,type,spans,length,width,n_lanes,skew,gdr_spacing,span2depth,...,extgdr_llmneg,extgdr_dlv,extgdr_sdlv,extgdr_llv,extgdr_ftgstress,extgdr_st1rtgpos,extgdr_sv2rtgpos,extgdr_st1rtgneg,extgdr_sv2rtgneg,extgdr_vrtg
0,Steel_1_1_1,1,Steel,1,1026.847164,775.4386448,5,15.29909456,110.7769493,26.68585307,...,,49638.5433,3610.009563,115710.401,11999.40845,1.97004358,2.157130216,,,1.026570762
1,Steel_1_1_2,1,Steel,1,558.6585845,551.2656226,3,6.972710004,91.87760377,25.43970654,...,,22566.25811,2244.610384,89967.57794,11994.91732,2.315146862,2.484986482,,,1.176910647

,ï»¿id,suite,type,spans,length,width,n_lanes,skew,gdr_spacing,span2depth,...,extgdr_llmneg,extgdr_dlv,extgdr_sdlv,extgdr_llv,extgdr_ftgstress,extgdr_st1rtgpos,extgdr_sv2rtgpos,extgdr_st1rtgneg,extgdr_sv2rtgneg,extgdr_vrtg
198,Steel_1_2_99,2,Steel,1,1770.014207,550.9702711,3,50.27578683,78.71003873,20.24070144,...,,81943.09409,6222.706195,149339.1828,7778.452721,2.707244477,2.173909873,,,1.034934229
199,Steel_1_2_100,2,Steel,1,1686.431935,588.2781017,4,2.505389218,117.6556203,22.90516568,...,,89714.14907,7905.149702,147009.8612,11852.00227,2.006462242,1.859629349,,,1.041782239